body{
    text-align: center;
}

#demo h1 span{
    color: black;
    background-color: #0000;
    letter-spacing: 0.5px;
    font-size: 1.25em;
}

ul.selector{
    text-decoration: none;
    line-height: 1.5em;
    list-style: none;  
}

#header span{
    color: whitesmoke;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 6em;
    height: 0;
    line-height: 2em;
}


#header .inner{
    position: relative;
    background-color: rgba(50, 115, 220, 0.3);
    width: auto;
    height: auto;
}

ul.actions{
    list-style: none;
}

#header a.button{
    border-bottom-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    padding: 0;
    height: 5em;
    line-height: 5em;
    display: inline-block;
    /* border-radius: 20px;
    border-color: white; */
     /* border: 4px; */
}

